/*--------------------*\
	LAYOUT
\*--------------------*/
html {
	width: 960px;
}

/*--------------------*\
	TYPOGRAPHY
\*--------------------*/
body{
	font: normal 1em/1.5em Baskerville, Georgia, Palatino, serif;
	margin: 10 auto;
	color: #222;
	padding: 30px;
}
h1, h2, h3, h4, h5, h6 {
	font-family: Baskerville, Georgia, Palatino, serif;
	font-weight: normal;
}
h1{
	font-size: 218%;
}
h2{
	color: #990033;
	font-size: 164%;
}
h3{
	color: #0066CC;
	font-size: 135%;
}
h4{
	color: #333333;
	font-size: 118%;
}
a {
	color: #0099ff;
	text-decoration: none;
}
a:hover { 
	text-decoration: underline; 
}

/*--------------------*\
	HEADING STYLE
\*--------------------*/
.title {
	background-color: #C82536;
	color:#fff;
	display: block;
	text-align: center;
	font-variant: small-caps;
	letter-spacing:2px;
	padding: 20px 20px;
	-moz-border-radius: 1em 1em 1em 1em;
	-webkit-border-radius: 1em 1em 1em 1em;
	border-radius: 1em 1em 1em 1em;
	-moz-box-shadow: 5px 5px 5px #aaa;
  	-webkit-box-shadow: 5px 5px 5px #aaa;
  	box-shadow: 5px 5px 5px #aaa;
}

hr{
	border: 0;
	color: #ccc;
	background-color: #ccc;
	height: 2px;
}
/*--------------------*\
	TABLE OF CONTENTS
\*--------------------*/
#table-of-contents p:first-child > b:before{
	content: '\261E';
	margin: 0px 10px 0 10px;
	font-size: 2em;
	color:#C82536;
}

/*--------------------*\
	CODE
\*--------------------*/
code {
	font-family: Consolas, Monaco, Andale Mono, monospace;
	font-size: 13px;
	line-height: 1.5em;
	background-color: #eee;
	padding: 5px 5px;
}
pre {
	overflow-y: scroll;
	overflow-x: scroll;
	background-color: #eee;
}
/*--------------------*\
	MISC
\*--------------------*/

.code-highlighted {
	background-color:#ffff00;
}
.org-info-js_info-navigation { 
	border-style:none; 
}
#org-info-js_console-label { 
	font-size:10px; 
	font-weight:bold;
	white-space:nowrap; 
}
.org-info-js_search-highlight {
	background-color:#ffff00; 
	color:#000000;
	font-weight:bold; 
}

/*--------------------*\
	PAYPAL
\*--------------------*/
#paypal form:before{
	content: '\261F - Show some \2665';
	color:#C82536;
	font-size: 1.5em;
	padding: 10px 30px;
}

#paypal{
	margin: 20px 100px;
	padding: 20px 50px;
	border: 1px solid #C82536;
	-moz-border-radius: 1em 1em 1em 1em;
	-webkit-border-radius: 1em 1em 1em 1em;
	border-radius: 1em 1em 1em 1em;
	-moz-box-shadow: 5px 5px 5px #aaa;
  	-webkit-box-shadow: 5px 5px 5px #aaa;
  	box-shadow: 5px 5px 5px #aaa;
}

/* footer */
#footer {
  clear: both;
/*  background: #FFF url(footerbg.gif) repeat-x left top;*/
  border-top: 0px solid #F2F2F2;
  text-align: left; 
  height: 50px; 
  font-size: 70%; /* added by Talim on 1st March 2007 */
/*  width: 100%;*/
  width:960px;
  margin:0 auto;
  padding-top:50px;
}
#footer a {
  text-decoration: none;
  font-weight: bold;
}
